<%- include('header') -%>

<h1>Enter id Of Employee To delete</h1>

<div class="delete">
  <form action="#" method="post">
    <input type="text" name="id" value="">
    <button type="submit">Delete</button>
  </form>
</div>


<%- include('footer') -%>
