<%- include('header') -%>

<h1>Edit Employee Details</h1>

<form action="/update" method="post">
    <label for="idNum">Enter Employee Id to Update Details</label>
    <input type="number" name="idNum" id="idNum">
    <button>Submit</button>
</form>

<%- include('footer') -%>