<%- include('header') -%>


<div class="Adder">
  <form action="#" method="post">
    <div class="container">
      <label for="name">Employee Name</label>
      <input type="text" name="name" id="name" required/>
    </div>
    <div class="container">
      <label for="name">Employee ID</label>
      <input type="text" name="id" id="name" required />
    </div>
    <div class="container">
      <label for="name">Designation</label>
      <input type="text" name="desig" id="name" required />
    </div>
    <div class="container">
      <label for="name">Experience</label>
      <input type="text" name="exp" id="name" required />
    </div>
    <div class="container">
      <label for="name">Age</label>
      <input type="text" name="age" id="name" required/>
    </div>
    <div class="container">
      <button>Submit</button>
    </div>
  </form>
</div>
<%- include('footer') -%>
