<%- include('header') -%>

<div class="head">
  <h2>Update Employee</h2>
</div>
<div class="form">
<form action="#" method="post">
  <input type="text" placeholder="Enter Id" name="EMPId" />
  <input type="text" placeholder="Enter Name" name="EMPName" />
  <input type="text" placeholder="Enter Designation" name="EMPDesig" />
  <button type="submit">Update</button>
</form>
</div>

<%- include('footer') -%>
