{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <style>
        body{
        /* background-image: url("bank.jpg");
        background-image: no-repeat;
        background-size: 100%; */
        background-color: rgb(57, 57, 148);
    } 
    </style>
    <nav class="bg-black p-2 text-white  cursor flex ">
        <ul class="flex space-x-10 m-3 ">
            <li><a href="/" >Home</a></li>
        <li><a href="/log/" >Login</a></li>
        <li><a href="/ab" >About</a></li>
        <li><a href="/con">Contact Us</a></li>  
        </ul>
        
    </nav>

    <div class="para text-white">
        <p>
          <H1 class="text-2xl mx-2">About Us:</H1><br>
    <p class="text-xl p-3"> Dev-Tas a Fortune 500 company, is an Indian Multinational, Public Sector Banking and Financial services statutory body headquartered in Mumbai. The rich heritage and legacy of over 200 years, accredits as the most trusted Bank by Indians through generations. <br>

Dev-Tas, the largest Indian Bank with 1/4th market share, serves over 45 crore customers through its vast network of over 22,000 branches, 62617 ATMs/ADWMs, 71,968 BC outlets, with an undeterred focus on innovation, and customer centricity, which stems from the core values of the Bank - Service, Transparency, Ethics, Politeness and Sustainability. <br>

The Bank has successfully diversified businesses through its various subsidiaries i.e General Insurance,Life Insurance,Mutual Fund,Card, etc. It has spread its presence globally and operates across time zones through 229 offices in 31 foreign countries. <br>

Growing with times,continues to redefine banking in India, as it aims to offer responsible and sustainable Banking solutions.
</p>
        </p>
    </div>
    
    
</body>
</html>