{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <style>
        body{
        /* background-image: url("bank.jpg");
        background-image: no-repeat;
        background-size: 100%; */
        background-color: rgb(57, 57, 148);
    } 
    </style>
    <nav class="bg-black p-2 text-white  cursor flex ">
        <ul class="flex space-x-10 m-3 ">
            <li><a href="/" >Home</a></li>
        <li><a href="/log/" >Login</a></li>
        <li><a href="/ab" >About</a></li>
        <li><a href="/con">Contact Us</a></li>  
        </ul>
        
    </nav>

    <div class="para text-white">
        <p>
          <H1 class="text-2xl mx-2">Contact Us:</H1><br>
    <p class="text-xl p-3"> Dev-Tas has an extensive administrative structure to oversee the large network of branches in India and abroad. The Corporate Centre is in Mumbai and 17 Local Head Offices and 101 Zonal Offices are located at important cities spread throughout the country. The Corporate Centre has several other establishments in and outside Mumbai, designated to cater to various functions. Our Colleges/Institutes/Training Centres are the seats of learning and research and development to spread the wings of knowledge not only to our employees but also other banks/establishments in India and abroad. <br>

        The Corporate Accounts Group is a Strategic Business Unit of the Bank set up exclusively to fulfil the specialised banking needs of top corporates in the country. <br>
        
        We has 208 foreign offices/branches in 36countries across the globe as on 31.03.2019. <br>
        
        We invites you to take a journey to understand the potential of not just a large but truly global organisation. <br>
        
        " Click here for Contact Center (helpline) Services"  <br>
        
        Pensioners Helpline:- Please call Dev-Tas's 24X7 Toll free telephone number 1800110009 dedicated for pensioners or Toll free telephone number 18004253800 & 1800112211.
</p>
        </p>
    </div>
    
    
</body>
</html>