{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <style>
        body{
            background-image: url({% static 'bank.jpg' %});
            background-image: no-repeat;
            background-size: 100%;
        }    
    </style>
    <nav class="bg-black p-2 text-white  cursor flex ">
        <ul class="flex space-x-10 m-3 ">
            <li><a href="/" >Home</a></li>
        <li><a href="/log/" >Login</a></li>
        <li><a href="/ab" >About</a></li>
        <li><a href="/con">Contact Us</a></li>  
        </ul>
        
    </nav>
    {% if messages %}
      {% for message in messages %}
      <div class="alert alert-{{ message.tags }} alert-dismissible fade show my-0 " role="alert">
        {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
      {% endfor %}
      {% endif %}
   
    <div class="container p-30 mx-56">
        <div class="box w-50  text-white mt-40">
            <!-- <img src="candidate.jpg" alt=""> -->
            <p class="text-3xl -mx-4">Login to Personal Banking</p>
        </div>
        <div class="cont">
            <div class="info mt-10 border border-black w-64 ">
                <div class="items-center">
                    
                     <div class="right flex flex-col bg-white pt-2 pl-2 pb-4 rounded-lg relative ">
                    <form method="post" action="/op/">
                        {% csrf_token %}
                
                <input name="username" class="w-60 h-14 border border-black rounded-md hover:border-blue-500 active:border-blue-500 mt-2"
                    type="text" placeholder=" Username" required>
                <input name="password" class="w-60 h-14 border border-black rounded-md hover:border-blue-500 mt-3" type="password"
                    placeholder=" Password" required>
                <button
                    class="bt w-60 bg-blue-600 text-xl font-bold text-white mt-2 rounded-lg h-14  hover:bg-blue-700 "><a href="/op/">PROCEED</a></button>
                </form>    
                </div>
                
                </div>
            </div>
        </div>

    </div>
</body>
</html>