body{
    margin: 0;
    font-family: sans-serif;
    background-color: gainsboro;
    background: linear-gradient(lightblue,rgb(61, 61, 185));
}

#head{
    background-color: rgb(211, 229, 244);
    margin-top: 20px;
    width: 80%;
    border: 1px solid black; 
    border-radius: 20px;
}

#page-heading{
    text-align: center;
    margin-top: 30px;
    color: rgb(0, 0, 0);
    font-size: 50px
}

#list{
    padding: 0;
    list-style: none;
    margin: 1rem 0;
}

.emp1{
    font-size: 25px;
    padding: 3px 10px;
    border: 1px solid white;
    background-color: lightgoldenrodyellow;
    box-shadow: 2px 2px 2px 2px lightcyan;
    color: darkgreen;
    display: flex;
    margin: 1rem 0;
}
.emp1 .detail{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 50%;
}
.emp1 .delete-btn{
    width: 10%;
    padding: 3px;
    text-align: center;
    margin-top: 20px;

}
ul :hover{
    background-color: aquamarine;
}

#emp-form{
    text-align: center;
    border: 2px solid lightcyan;
    font-size: 25px;
    font-weight: 700;
    padding: 3px;
}

input{
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button[type=submit]{
    width: 30%;
    background-color: rgb(0, 0, 0);
    font-size: 20px;
    font-weight: 900;
    color: grey;
    padding: 14px 20px;
    cursor: pointer;
    border: 1px solid whitesmoke;
    border-radius: 20px;
    color: white;
    transition: all 0.3s ease;
}
button:hover{
    background-color: white;
    color: black;
}

#start form{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    align-items: center;
    justify-content: center;
}