{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Navabar</title>
    
    <script src="https://cdn.tailwindcss.com"></script>
    
</head>
<body>
    <nav class="bg-black p-2 text-white rounded-xl cursor">
        <ul class="flex space-x-10 m-3">
            <li><a href="/admin">Admin Login</a></li>
            <li><a href="/cd">Candidate Login</a></li>
            <li><a href="/ab">About Us</a></li>
            <li><a href="/">Home</a></li>
            <!-- <button class="border border-white p-1 rounded-lg mx-84">Search</button> -->
            
            
            
        </ul>
    </nav>
    <style>
    body{
    
    top: 10 vw;
    border: 1px solid;
    height: 700px;
    width: 100%;
    background-image:url({% static 'log.jpeg' %})
    background-size: 100%;
}
    </style>
<center>    
  
    
  <div id="voting">

    <h1>Welcome To  The Dev-Tas Voting Page</h1>
  </div>
  
</center>    
</body>
</html>
