<%- include('header') -%>

<div class="Pvr">
    <h1>Choose Action</h1>
  </div>
  <div class="PvrBooks">
    <form action="/timingInox">
      <button>Show Timings</button>
    </form>
    <form action="/Bookinox">
      <button>Book Ticket</button>
    </form>
  </div>

<%- include('footer') -%>