<%- include('header') -%>
<div class="nextDiv">
  <div class="nextHead">
    <h1>Choose Theater in Your Location</h1>
  </div>
</div>
<div class="nextForm">
  <form action="/theater">
    <label for="texts">Search for you city</label>
    <input type="text" name="" id="texts" />
    <button>Check</button>
  </form>
</div>
<%- include('footer') -%>
