<%- include('header') -%>

<div class="nextDiv">
  <div class="nextHead">
    <h1>Theater's Available in your City</h1>
  </div>
</div>
<div class="chosenth">
  <div class="pvrbtn">
    <form action="/PVR">
      <button>PVR</button>
    </form>
  </div>
  <div class="inoxbtn">
    <form action="/INOX">
      <button>INOX</button>
    </form>
  </div>
</div>

<%- include('footer') -%>
