<%- include('header') -%>

<div class="Inox">
    <h1>Choose Action</h1>
  </div>
  
  <div class="ShowTimes">
    <ol>
      <li>Hall 1
        <ol>
          <li>9:00 - 11:00 &#8594 Brahmastra</li>
          <li>11:30 - 14:00 &#8594 Cuttputli</li>
          <li>15:00 - 17:50 &#8594 Thor - Love and Thunder</li>
          <li>19:00 - 21:50 &#8594 Brahmastra</li>
        </ol>
      </li>
      <li>Hall 2
          <ol>
              <li>9:00 - 11:00 &#8594 Thor - Love and Thunder</li>
              <li>11:30 - 14:00 &#8594 Brahmastra</li>
              <li>15:00 - 17:50 &#8594 Cuttputli</li>
              <li>19:00 - 21:50 &#8594 Brahmastra</li>
            </ol>
      </li>
      <li>Hall 3
          <ol>
              <li>9:00 - 11:00 &#8594 Cuttputli</li>
              <li>11:30 - 14:00 &#8594 Thor - Love and Thunder</li>
              <li>15:00 - 17:50 &#8594 Brahmastra</li>
              <li>19:00 - 21:50 &#8594 Cuttputli</li>
            </ol>
      </li>
    </ol>
  </div>
  
  <div class="PvrBooks">
      <form action="/INOX">
          <button>Back to booking</button>
      </form>
  </div>

<%- include('footer') -%>
