<div class="getstarted">
  <p>BUILD YOUR OWN RESUME ON JUST FEW CLICK</p>
  <div class="Next">
    <button class="Button">
      <a href="/ResumeBuilder">Get Started</a>
    </button>
  </div>
</div>

