<nav class="NavbarPage1">
  <div class="insideNav">
    <div class="MainHead">
      <div class="HeadingNav">RESUME BUILDER</div>
      <div class="HeadingNav2">Make Like Devta</div>
    </div>
    <div class="aboutus"><a href="/About">AboutUs</a></div>
  </div>
</nav>
