{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <center>
        <nav class="bg-black p-2 text-white rounded-xl cursor">
            <ul class="flex space-x-10 m-3">
                <li><a href="/bill/">Enter Details</a></li>
                <li><a href="/abt/">About US</a></li>
                <li><a href="/">Home</a></li>
                
                <!-- <button class="border border-white p-1 rounded-lg mx-84">Search</button> -->
                
                
                
            </ul>
        </nav>
        <div>
            <style>
                body{
                   
                    background-image: url({% static 'hm.jpeg' %});
                    font: 100px;
                    
                }
                .text{
                  
                    padding: 280px 0;
                    font-size: 80px;
                    
                    
                }
                #hemlo{
                    
                    color: white;
                }
            </style>
            <div class="text">
                <h1 id="hemlo"><strong>
                    WELCOME to DIGITAL Electricity  Solutions<br> Brought to you by DEV-TAS</strong></h1>
            </div>

        </div>
</center>
</body>
</html>